<div class="flex flex-row justify-center items-center p-4 bg-white border-red-200 dark:bg-red-900">
  <div class="col-span-2 p-6 bg-white border border-red-200 rounded-lg shadow dark:bg-red-800 dark:border-red-700">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Warning</h5>
    </a>
    <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span *ngIf="!user">
        Cannot find the details of user with id {{id}}
      </span>
      <p *ngIf="user">
        Are you sure you want to delete the details of the following user?
      </p>
      <p *ngIf="user"
        class="font-bold p-1 my-2 border-2 bg-gray-200 rounded text-gray-700 inline-block ">
        {{id}}, {{user.userName}}, {{user.department}}
      </p>
    </div>
    <button type="button"
      (click)="proceedToAction()"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
      Proceeed
      <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10">
        <path stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9" />
      </svg>
    </button>
  </div>

</div>