<section class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <div class="w-full md:block md:w-auto mt-4">
            <h1
                class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">
                User Detail Manager</h1>
            <h2
                class="mb-4 text-2xl font-bold leading-3 tracking-wide text-gray-900 md:text-5xl lg:text-3xl dark:text-white text-center">
                Manage all the users in your organization frome
                one portal.</h2>
            <p class="mb-6 text-lg font-normal text-gray-900 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-300">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci officiis provident nobis? Nesciunt
                molestiae totam officia sapiente autem ea, quis at cumque hic, laboriosam nobis vero expedita et aperiam
                assumenda, quo repudiandae deserunt cum harum enim perferendis soluta. Blanditiis fuga mollitia
                accusamus error natus eaque tempora repudiandae obcaecati harum, amet eius quidem itaque tenetur
                possimus inventore perspiciatis eum exercitationem, recusandae totam officiis? Asperiores similique
                molestias neque maxime eligendi placeat autem expedita voluptates cum! Dolore tempora, quae sit odit
                dicta quisquam minima temporibus saepe id incidunt corrupti est eius excepturi, fugit laborum,
                laboriosam voluptatibus quia tempore neque doloremque alias libero dolor! Distinctio autem alias quas?
                Amet ullam dolores explicabo tempore cum perspiciatis sed illum, sunt rem ab nulla nesciunt libero,
                praesentium commodi odit modi, voluptatibus facilis! Laboriosam sit laborum corrupti illum, soluta unde
                exercitationem nulla beatae suscipit. Libero voluptas maxime aliquam, ad deleniti nesciunt doloribus sit
                consectetur quos perspiciatis a ipsum nam explicabo, illo quidem odit atque itaque enim quisquam id quia
                cupiditate assumenda? Quas, labore totam ipsum, culpa quam velit quaerat eum vel tempora nostrum
                blanditiis accusantium! Voluptatum, quas iusto. Corrupti itaque laudantium temporibus voluptas eaque
                earum ullam inventore libero pariatur delectus, totam at ea optio rerum officia iste cupiditate.
                <a routerLink="/home"
                    class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 mt-4">
                    Learn more
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 10">
                        <path stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </p>
        </div>
        <dl
            class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">73M+</dt>
                <dd class="text-gray-500 dark:text-gray-400">Developers</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">100M+</dt>
                <dd class="text-gray-500 dark:text-gray-400">Public repositories</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">1000s</dt>
                <dd class="text-gray-500 dark:text-gray-400">Open source projects</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">1B+</dt>
                <dd class="text-gray-500 dark:text-gray-400">Contributors</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">90+</dt>
                <dd class="text-gray-500 dark:text-gray-400">Top Forbes companies</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">4M+</dt>
                <dd class="text-gray-500 dark:text-gray-400">Organizations</dd>
            </div>
        </dl>
    </div>
</section>